<ion-header [translucent]="true">

</ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title> Iniciar Sección </ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>


  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" value="Thais">
        <div slot="label">Nombre de Usuario <ion-text color="danger"></ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" value="Password">
        <div slot="label">Contraseña <ion-text color="danger"></ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>
  <br>
  <br>


  <ion-toggle labelPlacement="star">
    <span style="display:#0097b2;">Recuerdame</span>
      </ion-toggle>

  <ion-button expand="block">Ingresar</ion-button>
  <ion-button expand="block">Recuperar la contraseña</ion-button>


</ion-content>