  <ion-header [translucent]="true">
    <ion-content>

    </ion-content>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-content>
          
        </ion-content>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <strong>Bienvenido</strong>
      <div #avatar class="animated-element">
        <ion-img src="../../assets/auto.jpg"> </ion-img>
      </div>
      <p>{{nombreUsuario}} <a target="_blank" rel="noopener noreferrer" href=></a></p>
<br>
<br>
<br>
<br>
<br>
<br>
      <ion-button [routerLink]="['/iniciarseccion']" color="medium">Inicia tu viaje</ion-button>

    </div>



  </ion-content>
  